body{
    background-color: #404040;
}
.color{
    color: #ffff;

}
.font{
    font-family: 'stillhouse', sans-serif;
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}
